body {
    background-color: #207398;
}
  
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 40px;
}
  
.box {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CAD5E2;
    color: #03203C;
}
.heading{
    color: #03203C;
    font-size: 50px;
}

.buttonClass{
    color: #03203C;
    background-color: #CAD5E2;
    font-size: large; 
    padding: 5px 15px;
    margin-top: 10px; 
    margin-bottom: 5px;
}

.buttonClass:hover{
    color: #CAD5E2;
    background-color:#03203C;    
}

.turnTeller{
    color: #03203C;
}
.winMessageClass{
    color: #03203C;
}
.text-below-grid{
    margin-bottom: 5px;
}

.Toastify__progress-bar{
    visibility: hidden;    
}
.Toastify__close-button {
    visibility: visible;
    color: #ffffff;
}